<div id="<%= dom_id pin %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pin.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= pin.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Place:</strong>
    <%= pin.place_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lattitude:</strong>
    <%= pin.lattitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= pin.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= pin.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Visibility:</strong>
    <%= pin.visibility %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= pin.user_id %>
  </div>
</div>
